In [1]:
#Task 17 : Table of a Number.
#Objective: Print the multiplication table for a given number nnn.

#Code :-
n = int(input("Enter a number :"))
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

Enter a number :5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [2]:
#Task 18 : Swap Two Numbers.
#Objective : Swap two numbers without using a third variable.

#Code :-
a = int(input("\nEnter First number: "))
b = int(input("Enter Second number: "))
a, b = b, a
print("After swapping: a =", a, ", b =", b)

Enter First number: 23
Enter Second number: 65
After swapping: a = 65 , b = 23

In [3]:
#Task 19 : Check Substring.
#Objective : Determine if one string is a substring of another.

#Code :-
str1 = input("\nEnter the Main String: ")
str2 = input("Enter the Substring: ")
print("Substring found?" , str2 in str1)

Enter the Main String: HelloWorld
Enter the Substring: World
Substring found? True

In [4]:
#Task 20 : Decimal to Binary.
#Objective : Convert a decimal number to its binary representation.

#Code  :-
n = int(input("Enter a Decimal Number : "))
binary = bin(n)[2:]  #slicing
print("Binary Equivalent :", binary)

Enter a Decimal Number : 4
Binary Equivalent : 100

In [6]:
#Task 21 : Matrix Addition.
#Objective : Add two matrices of the same dimensions.

#Code :-
A = [[6, 2], [3, 2]]
B = [[8, 4], [7, 1]]
result = [[A[i][j] + B[i][j] for j in range(len(A[0]))] for i in range(len(A))]
print("\nMatrix Addition Result :", result)

Matrix Addition Result : [[14, 6], [10, 3]]

In [7]:
#Task 22 : Matrix Multiplication.
#Objective : Multiply two matrices A and B.

#Code :-
A = [[6, 2], [3, 2]]
B = [[8, 4], [7, 1]]
rows_A, cols_A = len(A), len(A[0])
rows_B, cols_B = len(B), len(B[0])
result = [[0]*cols_B for _ in range(rows_A)]
for i in range(rows_A):
    for j in range(cols_B):
        for k in range(cols_A):
            result[i][j] += A[i][k] * B[k][j]
print("\nMatrix Multiplication Result : ", result)

Matrix Multiplication Result :  [[62, 26], [38, 14]]

In [8]:
#Task 23 : Find Second Largest.
#Objective : Find the second largest number in a list.

#Code :-
nums = [10, 20, 4, 45, 99]
nums_sorted = sorted(set(nums))
if len(nums_sorted) >= 2:
    print("\nSecond Largest : ", nums_sorted[-2])
else:
    print("\nNot enough unique numbers")

Second Largest :  45

In [12]:
#Task 24 : Check Anagram.
#Objective : Check if two strings are anagrams (contain the same characters in any order).

#Code :-
str1 = input("\nEnter First String: ")
str2 = input("Enter Second String: ")
print("Anagram?" , sorted(str1) == sorted(str2))

Enter First String: rasp
Enter Second String: spar
Anagram? True